deployments/**/*/args.json
deployments/**/*/configuration.json
deployments/**/*/roots.json
plugins/scenario/worker/BootstrapWorker.js
plugins/deployment_manager/test/SolcList.json
scripts/build-spec.js