name: Deploy Market
on:
  workflow_dispatch:
    inputs:
      network:
        type: choice
        description: Network
        options:
          - fuji
          - mainnet
          - sepolia
          - polygon
          - arbitrum
          - base
          - optimism
          - mantle
          - unichain
          - linea
          - scroll
          - ronin
      deployment:
        description: Deployment Name (e.g. "usdc")
        required: true
      simulate:
        type: boolean
        description: Simulate
      eth_pk:
        description: Ignore if you plan to use WalletConnect, otherwise, you can paste in a Ethereum private key
jobs:
  deploy-market:
    name: Deploy Market
    runs-on: ubuntu-latest
    env:
      ETHERSCAN_KEY: ${{ secrets.ETHERSCAN_KEY }}
      SNOWTRACE_KEY: ${{ secrets.SNOWTRACE_KEY }}
      INFURA_KEY: ${{ secrets.INFURA_KEY }}
      MAINNET_QUICKNODE_LINK: ${{ secrets.MAINNET_QUICKNODE_LINK }}
      SEPOLIA_QUICKNODE_LINK: ${{ secrets.SEPOLIA_QUICKNODE_LINK }}
      RONIN_QUICKNODE_LINK: ${{ secrets.RONIN_QUICKNODE_LINK }}
      POLYGON_QUICKNODE_LINK: ${{ secrets.POLYGON_QUICKNODE_LINK }}
      OPTIMISM_QUICKNODE_LINK: ${{ secrets.OPTIMISM_QUICKNODE_LINK }}
      MANTLE_QUICKNODE_LINK: ${{ secrets.MANTLE_QUICKNODE_LINK }}
      BASE_QUICKNODE_LINK: ${{ secrets.BASE_QUICKNODE_LINK }}
      ARBITRUM_QUICKNODE_LINK: ${{ secrets.ARBITRUM_QUICKNODE_LINK }}
      POLYGONSCAN_KEY: ${{ secrets.POLYGONSCAN_KEY }}
      BASESCAN_KEY: ${{ secrets.BASESCAN_KEY }}
      OPTIMISMSCAN_KEY: ${{ secrets.OPTIMISMSCAN_KEY }}
      MANTLESCAN_KEY: ${{ secrets.MANTLESCAN_KEY }}
      SCROLLSCAN_KEY: ${{ secrets.SCROLLSCAN_KEY }}
      _TENDERLY_KEY_RONIN: ${{ secrets._TENDERLY_KEY_RONIN }}
      UNICHAIN_QUICKNODE_LINK: ${{ secrets.UNICHAIN_QUICKNODE_LINK }}
      LINEA_QUICKNODE_LINK: ${{ secrets.LINEA_QUICKNODE_LINK }}
    steps:
      - name: Seacrest
        uses: hayesgm/seacrest@af229b0a00b73cb6fa9940a836a62fa3b918fd77
        with:
          wallet_connect_project_id: ${{ secrets.WALLET_CONNECT_PROJECT_ID }}
          requested_network: "${{ inputs.network }}"
          ethereum_url: "${{ fromJSON('{\"linea\":\"${LINEA_QUICKNODE_LINK}\",\"ronin\":\"${RONIN_QUICKNODE_LINK}\",\"unichain\":\"${UNICHAIN_QUICKNODE_LINK}\",\"mantle\":\"${MANTLE_QUICKNODE_LINK}\",\"optimism\":\"${OPTIMISM_QUICKNODE_LINK}\",\"fuji\":\"https://api.avax-test.network/ext/bc/C/rpc\",\"mainnet\":\"${MAINNET_QUICKNODE_LINK}\",\"sepolia\":\"${SEPOLIA_QUICKNODE_LINK}\",\"polygon\":\"${POLYGON_QUICKNODE_LINK}\",\"arbitrum\":\"${ARBITRUM_QUICKNODE_LINK}\",\"base\":\"${BASE_QUICKNODE_LINK}\",\"scroll\":\"https://rpc.scroll.io\"}')[github.event.inputs.network] }}"
          port: 8585
        if: github.event.inputs.eth_pk == ''

      - name: Seacrest (governance network)
        uses: hayesgm/seacrest@af229b0a00b73cb6fa9940a836a62fa3b918fd77
        with:
          wallet_connect_project_id: ${{ secrets.WALLET_CONNECT_PROJECT_ID }}
          requested_network: "${{ vars.GOV_NETWORK }}"
          ethereum_url: "${{ fromJSON('{\"mainnet\":\"${MAINNET_QUICKNODE_LINK}\",\"sepolia\":\"${SEPOLIA_QUICKNODE_LINK}\"}')[vars.GOV_NETWORK] }}"
          port: 8685
        if: github.event.inputs.eth_pk == '' && vars.GOV_NETWORK != '' && github.event.inputs.network != vars.GOV_NETWORK

      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install packages
        run: yarn install --non-interactive --frozen-lockfile

      - name: Compile
        run: yarn hardhat compile

      - name: Check types
        run: yarn tsc

      - name: Run Deploy
        run: |
          yarn hardhat deploy --network ${{ github.event.inputs.network }} --deployment ${{ github.event.inputs.deployment }} ${{ fromJSON('["", "--simulate"]')[github.event.inputs.simulate == 'true'] }}
        env: 
          DEBUG: true
          ETH_PK: "${{ inputs.eth_pk }}"
          NETWORK_PROVIDER: ${{ fromJSON('["", "http://localhost:8585"]')[github.event.inputs.eth_pk == ''] }}
          REMOTE_ACCOUNTS: ${{ fromJSON('["", "true"]')[github.event.inputs.eth_pk == ''] }}

      - uses: actions/upload-artifact@v4 # upload test results
        if: success() || failure() # run this step even if previous step failed
        with:
          name: ${{ github.event.inputs.network }}-${{ github.event.inputs.deployment }}-verify-args
          path: deployments/${{ github.event.inputs.network }}/${{ github.event.inputs.deployment }}/verify/args.json

      - name: Commit changes
        if: ${{ github.event.inputs.simulate == 'false' }}
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"
          git add deployments/\*/roots.json
          git commit -m "Modified deployment roots from GitHub Actions"
          git push origin
