name: Enact Migration
on:
  workflow_dispatch:
    inputs:
      network:
        type: choice
        description: Network
        options:
          - fuji
          - mainnet
          - goerli
          - mumbai
          - polygon
          - arbitrum
          - arbitrum-goerli
          - base-goerli
          - linea-goerli
      deployment:
        description: Deployment Name (e.g. "usdc")
        required: true
      migration:
        description: Migration Name
        required: true
      simulate:
        type: boolean
        description: Simulate
      no_enacted:
        type: boolean
        description: Do not write Enacted
      run_id:
        description: Run ID for Artifact
      eth_pk:
        description: Ignore if you plan to use WalletConnect, otherwise, you can paste in a Ethereum private key
jobs:
  enact-migration:
    name: Enact Migration
    runs-on: ubuntu-latest
    env:
      ETHERSCAN_KEY: ${{ secrets.ETHERSCAN_KEY }}
      SNOWTRACE_KEY: ${{ secrets.SNOWTRACE_KEY }}
      INFURA_KEY: ${{ secrets.INFURA_KEY }}
      POLYGONSCAN_KEY: ${{ secrets.POLYGONSCAN_KEY }}
      ARBISCAN_KEY: ${{ secrets.ARBISCAN_KEY }}
      LINEASCAN_KEY: ${{ secrets.LINEASCAN_KEY }}
    steps:
      - name: Get governance network
        run: |
          case ${{ github.event.inputs.network }} in
            polygon | arbitrum)
                echo "GOV_NETWORK=mainnet" >> $GITHUB_ENV ;;
            mumbai | arbitrum-goerli | base-goerli | linea-goerli)
                echo "GOV_NETWORK=goerli" >> $GITHUB_ENV ;;
            *)
                echo "No governance network for selected network" ;;
          esac

      - name: Seacrest
        uses: hayesgm/seacrest@v1
        with:
          ethereum_url: "${{ fromJSON('{\"fuji\":\"https://api.avax-test.network/ext/bc/C/rpc\",\"mainnet\":\"https://mainnet.infura.io/v3/$INFURA_KEY\",\"goerli\":\"https://goerli.infura.io/v3/$INFURA_KEY\",\"mumbai\":\"https://polygon-mumbai.infura.io/v3/$INFURA_KEY\",\"polygon\":\"https://polygon-mainnet.infura.io/v3/$INFURA_KEY\",\"arbitrum-goerli\":\"https://arbitrum-goerli.infura.io/v3/$INFURA_KEY\",\"arbitrum\":\"https://arbitrum-mainnet.infura.io/v3/$INFURA_KEY\",\"base-goerli\":\"https://base-goerli.infura.io/v3/$INFURA_KEY\",\"linea-goerli\":\"https://linea-goerli.infura.io/v3/$INFURA_KEY\"}')[inputs.network] }}"
          port: 8585
        if: github.event.inputs.eth_pk == ''

      - name: Seacrest (governance network)
        uses: hayesgm/seacrest@v1
        with:
          ethereum_url: "${{ fromJSON('{\"fuji\":\"https://api.avax-test.network/ext/bc/C/rpc\",\"mainnet\":\"https://mainnet.infura.io/v3/$INFURA_KEY\",\"goerli\":\"https://goerli.infura.io/v3/$INFURA_KEY\",\"mumbai\":\"https://polygon-mumbai.infura.io/v3/$INFURA_KEY\",\"polygon\":\"https://polygon-mainnet.infura.io/v3/$INFURA_KEY\",\"arbitrum-goerli\":\"https://arbitrum-goerli.infura.io/v3/$INFURA_KEY\",\"arbitrum\":\"https://arbitrum-mainnet.infura.io/v3/$INFURA_KEY\"}')[env.GOV_NETWORK] }}"
          port: 8685
        if: github.event.inputs.eth_pk == '' && env.GOV_NETWORK != ''

      - name: Checkout repository
        uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Install packages
        run: yarn install --non-interactive --frozen-lockfile

      - name: Compile
        run: yarn hardhat compile

      - name: Check types
        run: yarn tsc

      - uses: dawidd6/action-download-artifact@v2
        with:
          workflow: prepare-migration.yml
          run_id: ${{ github.event.inputs.run_id }}
          name: ${{ github.event.inputs.network }}-${{ github.event.inputs.deployment }}-${{ github.event.inputs.migration }}
          path: deployments/${{ github.event.inputs.network }}/${{ github.event.inputs.deployment }}/artifacts/
        if: github.event.inputs.run_id != ''

      - name: Run Enact Migration
        run: |
          yarn hardhat migrate --network ${{ github.event.inputs.network }} --deployment ${{ github.event.inputs.deployment }} --enact --overwrite ${{ fromJSON('["", "--simulate"]')[github.event.inputs.simulate == 'true'] }} ${{ fromJSON('["", "--no-enacted"]')[github.event.inputs.no_enacted == 'true'] }} ${{ github.event.inputs.migration }}
        env:
          DEBUG: true
          ETH_PK: "${{ inputs.eth_pk }}"
          NETWORK_PROVIDER: ${{ fromJSON('["", "http://localhost:8585"]')[github.event.inputs.eth_pk == ''] }}
          GOV_NETWORK_PROVIDER: ${{ fromJSON('["", "http://localhost:8685"]')[github.event.inputs.eth_pk == '' && env.GOV_NETWORK != ''] }}
          GOV_NETWORK: ${{ env.GOV_NETWORK }}
          REMOTE_ACCOUNTS: ${{ fromJSON('["", "true"]')[github.event.inputs.eth_pk == ''] }}

      - name: Commit changes
        if: ${{ github.event.inputs.simulate == 'false' }}
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"
          git add deployments/${{ github.event.inputs.network }}/${{ github.event.inputs.deployment }}/migrations/${{ github.event.inputs.migration }}.ts
          git commit -m "Modified migration from GitHub Actions" || echo "No changes to commit"
          git push origin
