name: 'Enact Migration'
on:
  workflow_dispatch:
    inputs:
      network:
        type: choice
        description: Network
        options:
          - fuji
          - kovan
          - goerli
          - mumbai
      migration:
        description: Migration Name
        required: true
      simulate:
        type: boolean
        description: Simulate
      run_id:
        description: Run ID for Artifact
        required: true
      eth_pk:
        description: Ethereum Private Key
jobs:
  enact_migration:
    name: Enact Migration
    runs-on: ubuntu-latest
    env:
      ETHERSCAN_KEY: ${{ secrets.ETHERSCAN_KEY }}
      SNOWTRACE_KEY: ${{ secrets.SNOWTRACE_KEY }}
      INFURA_KEY: ${{ secrets.INFURA_KEY }}
      POLYGONSCAN_KEY: ${{ secrets.POLYGONSCAN_KEY }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Install packages
        run: yarn install --non-interactive --frozen-lockfile

      - name: Compile
        run: yarn hardhat compile

      - name: Check types
        run: yarn tsc

      - uses: dawidd6/action-download-artifact@v2
        with:
          workflow: prepare-migration.yml
          run_id: ${{ github.event.inputs.run_id }}
          name: ${{ github.event.inputs.network }}-${{ github.event.inputs.migration }}
          path: deployments/${{ github.event.inputs.network }}/artifacts/

      - name: Run Enact Migration
        run: yarn hardhat migrate --network ${{ github.event.inputs.network }} --enact --overwrite ${{ fromJSON('["", "--simulate"]')[github.event.inputs.simulate == 'true'] }} ${{ github.event.inputs.migration }}
        env:
          ETH_PK: ${{ github.event.inputs.eth_pk }}
