name: Run Scenarios
on:
  workflow_dispatch:
  pull_request:
permissions:
  checks: write 
jobs:
  run-scenarios:
    strategy:
      fail-fast: false
      matrix:
        bases: [ development, mainnet, mainnet-weth, mainnet-usdt, mainnet-wsteth, goerli, goerli-weth, sepolia-usdc, sepolia-weth, fuji, mumbai, polygon, polygon-usdt, arbitrum-usdc.e, arbitrum-usdc, arbitrum-weth, arbitrum-usdt, arbitrum-goerli-usdc, arbitrum-goerli-usdc.e, base-usdbc, base-weth, base-usdc, base-goerli, base-goerli-weth, linea-goerli, optimism-usdc, optimism-usdt, optimism-weth, scroll-goerli, scroll-usdc]
    name: Run scenarios
    env:
      ETHERSCAN_KEY: ${{ secrets.ETHERSCAN_KEY }}
      SNOWTRACE_KEY: ${{ secrets.SNOWTRACE_KEY }}
      INFURA_KEY: ${{ secrets.INFURA_KEY }}
      QUICKNODE_KEY: ${{ secrets.QUICKNODE_KEY }}
      POLYGONSCAN_KEY: ${{ secrets.POLYGONSCAN_KEY }}
      ARBISCAN_KEY: ${{ secrets.ARBISCAN_KEY }}
      BASESCAN_KEY: ${{ secrets.BASESCAN_KEY }}
      LINEASCAN_KEY: ${{ secrets.LINEASCAN_KEY }}
      OPTIMISMSCAN_KEY: ${{ secrets.OPTIMISMSCAN_KEY }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          cache: 'yarn'
          node-version: '18'

      - name: Cache Deployments
        uses: actions/cache@v4
        with:
          path: |
            deployments/*/.contracts
            deployments/**/aliases.json
            !deployments/hardhat
            !deployments/relations.ts
            !deployments/**/roots.json
            !deployments/**/relations.ts
            !deployments/**/configuration.json
            !deployments/**/migrations/*
          key: deployments-v4

      - name: Install packages
        run: yarn install --non-interactive --frozen-lockfile && yarn build

      - name: Compile
        run: npx hardhat compile

      - name: Run scenarios
        run: yarn scenario --bases ${{ matrix.bases }}

      - uses: actions/upload-artifact@v4 # upload scenario results
        if: success() || failure() # run this step even if previous step failed
        with:
          name: scenario-results-${{ matrix.bases }}
          path: scenario-results.json

      - uses: dorny/test-reporter@v1
        with:
          name: Scenario Tests (${{ matrix.bases }}) # Name of the check run which will be created
          path: scenario-results.json # Path to test results (inside artifact .zip)
          reporter: mocha-json # Format of test results
