name: Run Tests With Gas Profiler
on:
  workflow_dispatch:
  pull_request:
jobs:
  run-gas-profiler:
    name: Gas profiler
    runs-on: ubuntu-latest
    env:
      COINMARKETCAP_API_KEY: b52b18a2-d44f-4646-9949-0eb0e9c68574
      ETHERSCAN_KEY: ${{ secrets.ETHERSCAN_KEY }}
      SNOWTRACE_KEY: ${{ secrets.SNOWTRACE_KEY }}
      INFURA_KEY: ${{ secrets.INFURA_KEY }}
      POLYGONSCAN_KEY: ${{ secrets.POLYGONSCAN_KEY }}
      ARBISCAN_KEY: ${{ secrets.ARBISCAN_KEY }}
      LINEASCAN_KEY: ${{ secrets.LINEASCAN_KEY }}
      OPTIMISMSCAN_KEY: ${{ secrets.OPTIMISMSCAN_KEY }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Install packages
        run: yarn install --non-interactive --frozen-lockfile && yarn build

      - name: Measure
        run: yarn gas
