name: Run Forge Tests
on:
  workflow_dispatch:
  pull_request:
jobs:
  forge-tests:
    name: Forge tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Foundry
        uses: onbjerg/foundry-toolchain@v1
        with:
          version: nightly

      - name: Install yarn
        run: yarn

      - name: Install dependencies
        run: forge install && yarn install --non-interactive --frozen-lockfile

      - name: Run tests
        run: bash forge/run-tests.sh
        env:
          _TENDERLY_KEY_POLYGON: ${{ secrets._TENDERLY_KEY_POLYGON }}
          _TENDERLY_KEY_RONIN: ${{ secrets._TENDERLY_KEY_RONIN }}
          ANKR_KEY: ${{ secrets.ANKR_KEY }}
          ETHERSCAN_KEY: ${{ secrets.ETHERSCAN_KEY }}
          SNOWTRACE_KEY: ${{ secrets.SNOWTRACE_KEY }}
          INFURA_KEY: ${{ secrets.INFURA_KEY }}
          POLYGONSCAN_KEY: ${{ secrets.POLYGONSCAN_KEY }}
          OPTIMISMSCAN_KEY: ${{ secrets.OPTIMISMSCAN_KEY }}
          MANTLESCAN_KEY: ${{ secrets.MANTLESCAN_KEY }}
          SCROLLSCAN_KEY: ${{ secrets.SCROLLSCAN_KEY }}
          UNICHAIN_QUICKNODE_KEY: ${{ secrets.UNICHAIN_QUICKNODE_KEY }}
          MAINNET_QUICKNODE_LINK: ${{ secrets.MAINNET_QUICKNODE_LINK }}
          OPTIMISM_QUICKNODE_LINK: ${{ secrets.OPTIMISM_QUICKNODE_LINK }}
          BASE_QUICKNODE_LINK: ${{ secrets.BASE_QUICKNODE_LINK }}
          SCROLL_RPC_URL: ${{ secrets.SCROLL_RPC_URL }}
          UNICHAIN_QUICKNODE_LINK: ${{ secrets.UNICHAIN_QUICKNODE_LINK }}
          LINEA_QUICKNODE_LINK: ${{ secrets.LINEA_QUICKNODE_LINK }}
          SEPOLIA_QUICKNODE_LINK: ${{ secrets.SEPOLIA_QUICKNODE_LINK }}
          RONIN_QUICKNODE_LINK: ${{ secrets.RONIN_QUICKNODE_LINK }}
          ARBITRUM_QUICKNODE_LINK: ${{ secrets.ARBITRUM_QUICKNODE_LINK }}
          POLYGON_QUICKNODE_LINK: ${{ secrets.POLYGON_QUICKNODE_LINK }}
          MANTLE_QUICKNODE_LINK: ${{ secrets.MANTLE_QUICKNODE_LINK }}
          SALT: ${{ secrets.SALT }}

      - name: Build Comet with older solc versions
        run: |
          forge build --contracts contracts/Comet.sol --use solc:0.8.15 --via-ir --optimizer-runs 1
