name: Run Contract Linter
on:
  workflow_dispatch:
  pull_request:
jobs:
  run-contract-linter:
    name: Contract linter
    runs-on: ubuntu-latest
    env:
      ETHERSCAN_KEY: ${{ secrets.ETHERSCAN_KEY }}
      SNOWTRACE_KEY: ${{ secrets.SNOWTRACE_KEY }}
      INFURA_KEY: ${{ secrets.INFURA_KEY }}
      POLYGONSCAN_KEY: ${{ secrets.POLYGONSCAN_KEY }}
      ARBISCAN_KEY: ${{ secrets.ARBISCAN_KEY }}
      LINEASCAN_KEY: ${{ secrets.LINEASCAN_KEY }}
      OPTIMISMSCAN_KEY: ${{ secrets.OPTIMISMSCAN_KEY }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Install packages
        run: yarn install --non-interactive --frozen-lockfile && yarn build

      - name: Run linter on modified contracts
        run: git diff --name-only --diff-filter=ACMRT ${{ github.event.pull_request.base.sha }} ${{ github.sha }} | grep ^contracts/ | xargs yarn solhint
