name: Run Forge Tests
on:
  workflow_dispatch:
  pull_request:
jobs:
  forge-tests:
    name: Forge tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Foundry
        uses: onbjerg/foundry-toolchain@v1
        with:
          version: nightly

      - name: Install dependencies
        run: forge install

      - name: Run tests
        run: forge test -vvv --via-ir
        env:
          ETHERSCAN_KEY: ${{ secrets.ETHERSCAN_KEY }}
          SNOWTRACE_KEY: ${{ secrets.SNOWTRACE_KEY }}
          INFURA_KEY: ${{ secrets.INFURA_KEY }}
          POLYGONSCAN_KEY: ${{ secrets.POLYGONSCAN_KEY }}
          ARBISCAN_KEY: ${{ secrets.ARBISCAN_KEY }}
          LINEASCAN_KEY: ${{ secrets.LINEASCAN_KEY }}
          OPTIMISMSCAN_KEY: ${{ secrets.OPTIMISMSCAN_KEY }}
          MAINNET_RPC_URL: ${{ secrets.MAINNET_RPC_URL }}
          OPTIMISM_RPC_URL: ${{ secrets.OPTIMISM_RPC_URL }}
          BASE_RPC_URL: ${{ secrets.BASE_RPC_URL }}
          SCROLL_RPC_URL: ${{ secrets.SCROLL_RPC_URL }}
          ARBITRUM_RPC_URL: ${{ secrets.ARBITRUM_RPC_URL }}
          POLYGON_RPC_URL: ${{ secrets.POLYGON_RPC_URL }}
          SALT: ${{ secrets.SALT }}

      - name: Build Comet with older solc versions
        run: |
          forge build --contracts contracts/Comet.sol --use solc:0.8.15 --via-ir
